@model IEnumerable<UML_proj.Models.Search_parameters>

@{
    ViewBag.Title = "GetLearningParameters";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetLearningParameters</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.learning_speed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.optimization_method)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isPrimary)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.learning_speed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.optimization_method)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isPrimary)
        </td>
        <td>
            @Html.ActionLink("Edit", "LearningParametersForm", new { id=item.id_Search_parameters })
        </td>
    </tr>
}

</table>
