@model UML_proj.Models.Search_parameters

@{
    ViewBag.Title = "LearningParametersForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LearningParametersForm</h2>

@using (Html.BeginForm("Update", "LearningParameters"))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Search_parameters</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.learning_speed, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.learning_speed, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.learning_speed, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.optimization_method, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.optimization_method, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.optimization_method, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.isPrimary, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.isPrimary, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.isPrimary, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.id_Search_parameters)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
