@model UML_proj.Models.Subscription

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Subscription</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Newsletter.newest_message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Newsletter.newest_message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.receit_discord)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.receit_discord)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.receit_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.receit_email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_Subscription }) |
    @Html.ActionLink("Back to List", "Index")
</p>
